@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cairo:wght@200;300;400;500;600;700;800&family=Readex+Pro:wght@200;300;400;500&display=swap');
* {
    font-family: 'Almarai', sans-serif;
}
.card a {
    text-decoration: none;
}

.erroe-feedbak {
    color:red
}
.text-orange {
  color: #f79828 !important;
}
.bg-orange {
  color: #f79828 !important;
}
.fs-10 {
  font-size: 10px !important;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-16 {
  font-size: 16px !important;
}
.fs-18 {
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 26.46px !important;
  text-align: center;
}
.fs-20 {
  font-size: 20px !important;
}
.fs-30 {
  font-size: 30px !important;
}